
@using IntrLibrary.DataModels

@{
    ConfiguracionEntity conf = new ConfiguracionEntity();
    var lista = (from cont in conf.lineas select cont).DefaultIfEmpty();
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <kbd>  nombreLinea </kbd>
            </th>
            <th>
                <kbd>codigoLinea</kbd>
            </th>
            <th>
                <kbd> fechaCreacion</kbd>
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in lista)
    {
        if (item != null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreLinea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoLinea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaCreacion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","lineas", new { id = item.idLinea },null)
                </td>
            </tr>
        }
    }

</table>
