@using IntrLibrary.DataModels

@{
    ConfiguracionEntity conf = new ConfiguracionEntity();
    var lista = (from cont in conf.Controladoras select cont).DefaultIfEmpty();
}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Locación 
                </th>
                <th>
                    Controladora
                </th>
                <th>
                    Descripción Controladora
                </th>
                <th></th>
            </tr>
        </thead>
    
    @foreach (var item in lista) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreControladora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionControladora)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Controladoras" ,new { id=item.idControladora },null) 
            </td>
        </tr>
    }
    
    </table>
