@using IntrLibrary.DataModels

@{
    ConfiguracionEntity conf = new ConfiguracionEntity();
    var lista = (from cont in conf.tiposDocumentos select cont).DefaultIfEmpty();
}
<table class="table table-hover">
    <thead>
        <tr class="">
            <th>
                <kbd>Codigo Documento</kbd>
            </th>
            <th>

                <kbd>Nombre Documento</kbd>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in lista)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoTipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreTipoDocuemnto)
                </td>
            </tr>
        }
    </tbody>
</table>
