
@using IntrLibrary.DataModels

@{
    ConfiguracionEntity conf = new ConfiguracionEntity();
    var lista = (from cont in conf.menu select cont).DefaultIfEmpty();
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <kbd>codMenú</kbd>
            </th>
            <th>
                <kbd>Controladora</kbd>
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in lista)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.metodo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controladoras.NombreControladora)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit","menus", new { id = item.idMenu },null) 
                </td>
            </tr>
        }
    </tbody>

</table>
