@{
    ViewBag.Title = "Home Page";
}
<div class="col">
    <h1>Inv. Solutions ColorSave 2.0</h1>
    <p class="lead">Bienvenido a su solución empresarial para el proceso de mezcla en su empresa.</p>
    <div class="col">
        <div class="col-md-4">
            <h2>Bienvenido</h2>
            <p>
                Este software es accesible desde cualquier punto con conexión a internet, el software le permite a la empresa automatizar los procesos de mezcla y almacenamiento de pinturas llevados a cabo en la empresa.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Aplicación en desarrollo</h2>
            <p>
                Esta aplicación es completamente funcional para el control de mezclas y almacenamiento de las mismas, sin embargo aún estamos en desarrollo y muy pronto podrá también controlar inventarios de la empresa. 
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Soporte</h2>
            <p>En caso de requerir soporte técnico por favor contacte al administrador del software.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>