<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#listMenu">listado</a></li>
    <li><a data-toggle="tab" href="#creaMenu">crear</a></li>
</ul>

<div class="tab-content">
    <div id="listMenu" class="tab-pane fade in active">
        <h3>listado de menus</h3>
        <p>
            @Html.Partial("~/Views/menus/Index.cshtml")
        </p>
    </div>
    <div id="creaMenu" class="tab-pane fade">
        <h3>Creacion de Menus</h3>
        <p>
            @Html.Partial("~/Views/menus/create.cshtml")
        </p>
    </div>
</div>
