<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#list">listado</a></li>
    <li><a data-toggle="tab" href="#crea">Crear</a></li>
</ul>

<div class="tab-content">
    <div id="list" class="tab-pane fade in active">
        <h3>lista controladoras</h3>
        <p>
            @Html.Partial("~/Views/controladoras/Index.cshtml")
        </p>
    </div>
    <div id="crea" class="tab-pane fade">
        <h3>Creacion de Controladoras</h3>
        <p>@Html.Partial("~/Views/Controladoras/Create.cshtml")
        </p>
    </div>
</div>

