<ul class="nav nav-pills nav-tabs">
    <li class="active"><a data-toggle="tab" href="#contr">Controladoras</a></li>
    <li><a data-toggle="tab" href="#Metodos">Metodos</a></li>
    <li><a data-toggle="tab" href="#menu">Menús</a></li>
</ul>

<div class="tab-content">
    <div id="contr" class="tab-pane fade in active">
        <h3>Controladoras</h3>
        <p>
            @Html.Partial("~/Views/Configuracion/contConf.cshtml")
        </p>
    </div>
    <div id="Metodos" class="tab-pane fade">
        <h3>metodos</h3>
        <p>
            @Html.Partial("~/Views/Configuracion/creMeto.cshtml" )
        </p>
    </div>
    <div id="menu" class="tab-pane fade">
        <h3>Menú</h3>
        <p>
            @Html.Partial("~/Views/Configuracion/confMenu.cshtml")
        </p>
    </div>
</div>

