<h2>Configuración de Menus por rol</h2>
<div class="col-md-12">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#lisRolesMenu">Listado</a></li>
        <li><a data-toggle="tab" href="#creaRolesMenu">Crear</a></li>
    </ul>

    <div class="tab-content">
        <div id="creaRolesMenu" class="tab-pane fade">
            <h3>Creación de Roles</h3>
            @{Html.RenderPartial("~/Views/menuRoles/Create.cshtml");}
        </div>
        <div id="lisRolesMenu" class="tab-pane fade in active">
            <h3>Listado</h3>

            @Html.Partial("~/Views/menuRoles/index.cshtml")
        </div>
    </div>
</div>
