@using IntrLibrary.DataModels

@{
    ConfiguracionEntity conf = new ConfiguracionEntity();
    var lista = (from cont in conf.menuRoles select cont).DefaultIfEmpty();
}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <kbd>metodo</kbd>
                </th>
                <th>
                   <kbd>Rol</kbd>
                </th>
                <th></th>
            </tr>
        </thead>
    @foreach (var item in lista) {
        if (item != null)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.menu.metodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles.nombreRole)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "menuRoles", new { id = item.idMenuRole }, null) 
            </td>
        </tr>
        }
    }

    </table>
