@using IntrLibrary.DataModels

@{
    ConfiguracionEntity conf = new ConfiguracionEntity();
    var lista = (from cont in conf.roles select cont).DefaultIfEmpty();
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <kbd>nombreRole</kbd>
            </th>
            <th>
                <kbd>codigoRole</kbd>
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in lista) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","roles", new { id=item.idRole },null) |
        </td>
    </tr>
}

</table>
